createdAt: "2018-10-07T13:24:53.169Z"
updatedAt: "2018-10-07T13:26:53.108Z"
type: "MARKDOWN_NOTE"
folder: "00b07823427e22a4d0ea"
title: "tReadme"
content: "# tReadme"
tags: []
isStarred: false
isTrashed: true
