createdAt: "2018-10-07T13:26:56.832Z"
updatedAt: "2018-10-07T13:48:01.335Z"
type: "MARKDOWN_NOTE"
folder: "00b07823427e22a4d0ea"
title: "Notas Ricardo"
content: '''
  # Notas Ricardo
  
  #  README
  ## texto
  ### teste 
  #### smaller
  ##### even smaller
  _dotdotdot_ 
  **negrito**  
  ~~rasurad~~
  ```
  $ qualquer coisa
  ```
  
  
  ```ruby
  def k
  a+b
  end
  ```
  
  
'''
tags: []
isStarred: false
isTrashed: false
